
#navbar{
    position: fixed;
    width: 100%;
    top: 0;
    
    
}


.menu-btn {
    --box-shadow-color: rgba(255, 101, 47, 0.2);
    width: 225px;
    height: 80px;
    position: relative;
    cursor: pointer;
    /* border: 5px solid #fff; */
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
  
.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 35px;
  height: 2px;

  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px var(--box-shadow-color);

  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
}
.menu-btn__burger::before {
  transform: translateY(-12px);
}
.menu-btn__burger::after {
  transform: translateY(12px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}